{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="sixteen wide column">
        <div class="content">
            <div id="astros" class="ui very relaxed vertical list">
                {% for astro in astros %}
                <div id="{{astro.id}}">
                    <div class="ui labeled basic button" tabindex="0">
                        <div class="ui red basic label">
                            <i class="refresh icon"></i>{{astro.name}}
                        </div>
                        <p class="ui basic red left pointing label">{{astro.links_count}}</p>
                    </div>
                    <span class="bold">Last synced on : </span>
                    <label>{{astro.last_sync}}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}
