{% extends "boilerplate.html" %}

{% block content %}
<div class="row">
    <div class="column"></div>
    <div class="sixteen wide column">
        <div id="todos" class="content">
            <div class="ui grid">
                <div class="four wide column">
                    <div class="ui vertical tabular fluid demo menu">
                        <a class="item" id="new-todo"><i class="add icon"></i>New Todo</a>
                        {% for todo in todos %}
                        <a class="item" data-tab="{{todo.id}}">{{ todo.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="twelve wide stretched column ui form">
                    {% for todo in todos %}
                    <div class="ui tab basic segment basic" data-tab="{{todo.id}}">
                        <div class="ui text menu right floated">
                            <button class="ui edit basic button item">Edit</button>
                            <button class="ui save basic button item">Save</button>
                            <button class="ui download basic button item">Download</button>
                            <button class="ui delete basic button item">Delete</button>
                        </div>
                        <div class="ui section divider"></div>
                        <input class="ui fluid md-content-name" type="text" value="{{todo.name}}" style="display: none;">
                        <div class="html-content-name"></div>
                        <div class="ui horizontal divider"></div>
                        <textarea class="md-content" style="display: none;">{{todo.content}}</textarea>
                        <div class="html-content"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
{% endblock %}
