{% extends "boilerplate.html" %}

{% block content %}
<div class="row">
    <div class="column"></div>
    <div class="fourteen wide column">
        <div class="content">
            <div id="webcomics" class="ui very relaxed vertical list">
                {% for comic in comics %}
                <div id="{{comic.id}}">
                    <div class="ui labeled basic button" tabindex="0">
                        <div class="ui teal basic label">
                            <i class="refresh icon"></i>{{comic.name}}
                        </div>
                        <p class="ui basic teal left pointing label">{{comic.links_count}}</p>
                    </div>
                    <span class="bold">Last synced on : </span>
                    <label>{{comic.last_sync}}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
{% endblock %}
