import os

#
# Supported database:
#   1. mongo
#

db = 'mongo'

# Reminders

REMIND_COMMAND = '%s/penenv/bin/python %s/bin/crons/remind_cron.py' % (os.getcwd(), os.getcwd())


# Webcomics

XKCD_CRAWLER_URL = 'http://xkcd.com/archive/'


# Astros

QUARKS_CRAWLER_URL = [
    'http://www.fromquarkstoquasars.com/post-sitemap1.xml'
]


# Music

GOOGLE_SERVER_API_KEY = xxxxxxxxxxxxxxxxxxxx
