* {
    border-radius: 0 !important;
}

/*
 * Colors
 */

body {
    background-color: #FFF;
    word-wrap: break-word;
    max-height: 100vh;
}

.white {
    color: #FFF !important;
}

i.white {
    color: #FFF !important;
}

.menu .buttons .button {
    margin-left: 5px;
    margin-right: 5px;
}

.toc {
    background-color: #444C55;
    z-index: 1;
    width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

#main-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
}

.redBackground {
    background-color: #E03131;
}

.ui.fixed.borderless.menu {
    border-top: 3px solid #E03131;
}

.penny-header h2 {
    text-indent: 7px;
    font-family: 'Atomic Age', cursive;
}

.penny-header a,
.penny-header a:hover,
.penny-header a:active {
    text-decoration: none;
    color: #00B5AD;
}

#flashes li {
    text-align: left;
    list-style: none;
}

#msg, #flashes {
    position: fixed;
    top: 0px;
    left: 20%;
    width: 60%;
    z-index: 10000;
}

/*
 *  Landing Page
 */

 /* Header */
 .large-header {
 	position: relative;
 	width: 100%;
 	overflow: hidden;
 	background-size: cover;
 	background-position: center center;
 	z-index: 1;
 }

 #landing {
 	position: absolute;
 	margin: 0;
 	padding: 0;
 	color: #f9f1e9;
 	text-align: center;
 	top: 50%;
 	left: 50%;
 	-webkit-transform: translate3d(-50%,-50%,0);
 	transform: translate3d(-50%,-50%,0);
 }

 .main-title {
    font-family: "Courier New";
 	font-size: 4.2em;
 }

 .main-title .thin {
 	font-weight: 200;
 }

 @media only screen and (max-width : 768px) {
 	.demo-1 .main-title {
 		font-size: 3em;
 	}
 }

#landing {
    height: 100%;
    width: 550px;
}

#landing .column {
    max-width: 550px;
}

#landing .item {
    color: #00B5AD !important;
}

#landing input[type="text"],
#landing input[type="password"] {
    background: transparent !important;
    color: #FFF !important;
    border: 1px solid #00B5AD !important;
}

#landing input::-webkit-input-placeholder {
   color: #999 !important;
}

#landing input :-moz-placeholder { /* Firefox 18- */
   color: #999 !important;
}

#landing input ::-moz-placeholder {  /* Firefox 19+ */
   color: #999 !important;
}

#landing input :-ms-input-placeholder {
   color: #999 !important;
}

/*
 * Others
 */


#wish-form {
    width: 100%;
    margin-top: 10px;
}

#wish-form h1 {
    color: #00B5AD;
    padding-left: 20px;
}

#wish-form input {
    text-indent: 10px;
    border-radius: 500px !important;
    font-family: "courier",monospace !important;
}

#wish-form .field, #wish-form .fields {
    margin: 0 0 !important;
}


#reminders {
    text-indent: 10px;
    overflow-y: scroll;
}

.modal {
    margin-top: 20px !important;
    position: static;
}

#md-content, #html-content {
    border-radius: 0 !important;
    overflow: scroll;
}

textarea {
    width: 100% !important;
    height:100% !important;
}

.html-content-name {
    font-weight: bold;
    font-size: 28px;
}

/*
 *  Clock
 */

.clock {
    text-align: center;
	position:absolute;
    right: 10;
	font-family:monaco,consolas,"courier new",monospace;
	font-size:1.5em;
	line-height:1.375;
}

.clock:before,
.clock:after {
	position:absolute;
	top:0;
	bottom:0;
	content:':';
	z-index:2;
	line-height:1.15;
	color:#333;
}

.clock:before {
	left:2.325em;
}

.clock:after {
	right:2.325em;
}

.clock span {
	position:relative;
	display:inline-block;
	padding:0 .25em;
	margin:0 .06125em;
	z-index:1;

	-webkit-transform:perspective(750);
	-moz-transform:perspective(750);
	-ms-transform:perspective(750);
	transform:perspective(750);

	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

.clock span:first-child {
	margin-left:0;
}

.clock span:last-child {
	margin-right:0;
}

.clock span:nth-child(2),
.clock span:nth-child(4) {
	margin-right:.3em;
}

.clock span:nth-child(3),
.clock span:nth-child(5) {
	margin-left:.3em;
}

.clock span:before,
.clock span:after {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	color:#eee;
	text-shadow:0 1px 0 #fff;
	background:#333;
	border-radius:.125em;
	outline:1px solid transparent; /* fix jagged edges in ff */

	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;

	-webkit-transition:-webkit-transform .75s, opacity .75s;
	-moz-transition:-moz-transform .75s, opacity .75s;
	-ms-transition:-ms-transform .75s, opacity .75s;
	transition:transform .75s, opacity .75s;
}

.clock span:before {
	opacity:1;
	z-index:1;
	content:attr(data-old);

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-transform:translate3d(0,0,0) rotateX(0);
	-moz-transform:translate3d(0,0,0) rotateX(0);
	-ms-transform:translate3d(0,0,0) rotateX(0);
	transform:translate3d(0,0,0) rotateX(0);
}

.clock span:after {
	opacity:0;
	z-index:2;
	content:attr(data-now);

	-webkit-transform-origin:0 100%;
	-moz-transform-origin:0 100%;
	-ms-transform-origin:0 100%;
	transform-origin:0 100%;

	-webkit-transform:translate3d(0,-102.5%,0) rotateX(90deg);
	-moz-transform:translate3d(0,-102.5%,0) rotateX(90deg);
	-ms-transform:translate3d(0,-102.5%,0) rotateX(90deg);
	transform:translate3d(0,-102.5%,0) rotateX(90deg);
}

.clock .flip:before {
	opacity:0;
	-webkit-transform:translate3d(0,102.5%,0) rotateX(-90deg);
	-moz-transform:translate3d(0,102.5%,0) rotateX(-90deg);
	-ms-transform:translate3d(0,102.5%,0) rotateX(-90deg);
	transform:translate3d(0,102.5%,0) rotateX(-90deg);
}

.clock .flip:after {
	opacity:1;
	-webkit-transform:translate3d(0,0,0) rotateX(0);
	-moz-transform:translate3d(0,0,0) rotateX(0);
	-ms-transform:translate3d(0,0,0) rotateX(0);
	transform:translate3d(0,0,0) rotateX(0);
}
