{% extends "admin/raw.html" %}

{% block body %}
{% if current_user.is_authenticated %}
    <div class="ui grid" style="padding-top: 62px;">
        <div class="sixteen wide column">
            <div class="ui secondary pointing menu teal">
                <a class="{%- if request.path == url_for('admin.users') or request.path == url_for('adminuser.user', user_id=current_user.id) %}active{% endif %} item teal" href="{{url_for('admin.users')}}">
                    User Management
                </a>
            </div>
        </div>
    </div>
    <div class="ui basic segment">
        {% block content %}{% endblock %}
    </div>
{% else %}
{% endif %}
{% endblock %}
