{% extends "admin/raw.html" %}

{% block body %}
{% if g.user.is_authenticated %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui secondary pointing menu red">
                <a class="{%- if request.path == url_for('admin.users') or request.path == url_for('adminuser.user', user_id=g.user.id) %}active{% endif %} item red" href="{{url_for('admin.users')}}">
                    User Management
                </a>
            </div>
        </div>
    </div>
    <div class="ui basic segment">
        {% block content %}{% endblock %}
    </div>
{% else %}
{% endif %}
{% endblock %}
