{% extends "admin/index.html" %}

{% block content %}
<div class="ui grid">
    <div class="ten wide column">
        <h3 class="ui dividing grey header">User Details</h3>
        <form method="POST" action="{{url_for('adminuser.update', user_id=current_user.id, update='details')}}" class="ui large form">
            <div class="field">
                <label>Name</label>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="fname" placeholder="First Name" value="{{user.fname}}">
                    </div>
                    <div class="field">
                        <input type="text" name="lname" placeholder="Last Name"  value="{{user.lname}}">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Email Address</label>
                        <input type="text" name="Email" placeholder="Email" readonly="" value="{{user.email}}">
                    </div>
                    <div class="field">
                        <label>Social ID</label>
                        <input type="text" name="social_id" placeholder="Social ID" readonly="" value="{{user.social_id}}">
                    </div>
                </div>
            </div>
            <div class="field info">
                <div class="three fields">
                    <div class="field">
                        <label>Role</label>
                        <input type="text" name="role" placeholder="Role" value="{{user.role}}">
                    </div>
                    <div class="field">
                        <label>Created At</label>
                        <input type="text" name="created_at" placeholder="Created At" readonly="" value="{{user.created_at}}">
                    </div>
                    <div class="field">
                        <label>Last logged in on</label>
                        <input type="text" name="last_login" placeholder="Last Login" readonly="" value="{{user.last_login}}">
                    </div>
                </div>
            </div>
            <div class="field">
                <input class="ui red large button" type="submit" value="Save Details"/>
            </div>
        </form>
    </div>
    <div class="six wide column">
        <h3 class="ui dividing header grey">Services</h3>
        <form class="ui form" method="POST" action="{{url_for('adminuser.update', user_id=current_user.id, update='services')}}">
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="example2">
                    <label>Once a week</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="example3" checked="checked">
                    <label>Once a week 3</label>
                </div>
            </div>
            <div class="field">
                <input class="ui red large button" type="submit" value="Save Services"/>
            </div>
        </form>
    </div>

<div>
{% endblock %}
