<div class="ui basic fullscreen modal" id="webcomic-modal">
    <i class="close icon white"></i>
    <div class="header"></div>
    <div class="ui basic segment">
        <a href="" target="_blank">
            <img class="ui centered image" src="">
        </a>
    </div>
</div>

<div class="ui basic modal" id="astro-modal">
    <iframe src="" width='100%' height = '100%'></iframe>
</div>

<div class="ui basic fullscreen modal" id="music-modal">
    <div class="ui basic" id="music-modal">
        <div class="ui one column stackable center aligned page grid">
            <div class="column twelve wide">
                <div id="music-playarea"></div>
            </div>
        </div>
    </div>
</div>

<script>
var music_player = null;
function onYouTubeIframeAPIReady() {
    music_player = new YT.Player('music-playarea', {
        height: '390',
        width: '640',
        playerVars: { 'autoplay': 1 },
        events: {
            'onReady': function(event) {
                event.target.pauseVideo();
                music_player.addEventListener('onStateChange', function(e) {
                    if( e.data == 5 ) {
                        event.target.playVideo();
                    }
                });
            },
        }
    });
};
</script>
