<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Penny</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="/static/images/favicon.ico">

    <link rel="stylesheet" href="/static/semantic/dist/semantic.min.css">

    <!-- JS Libs -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/static/js/lib/js.cookie.js"></script>
    <script src="/static/js/lib/jquery-1.11.3.min.js"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>

    {% if not g.user.is_authenticated %}
    <script src='http://www.marcoguglielmelli.it/Codepen/AnimatedHeaderBg/demo-1/js/EasePack.min.js'></script>
    <script src='http://www.marcoguglielmelli.it/Codepen/AnimatedHeaderBg/demo-1/js/rAF.js'></script>
    <script src='http://www.marcoguglielmelli.it/Codepen/AnimatedHeaderBg/demo-1/js/TweenLite.min.js'></script>
    {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Atomic+Age' rel='stylesheet' type='text/css'>

    <!-- UX Styling -->
    <link rel="stylesheet" href="/static/css/ux.css">

</head>

<body class="{% if g.user.is_authenticated %}redBackground{% endif %}">
    {% if not g.user.is_authenticated %}
    <div class="ui fixed borderless menu" style="{% if not g.user.is_authenticated %}background: transparent;{% endif %}">
        <div class="penny-header item">
            <span><a href="{{url_for('pages.index')}}" class="header red ui"><h2>Frictionle</h2></a></span>
        </div>
    </div>
    {% block intro %}{% endblock %}
    {% else %}
    <div class="full height">
        <div class="ui grid">
            <div class="row">
                <div class="redBackground toc">
                    <div class="penny-header">
                        <span><a href="{{url_for('pages.index')}}" class="header white ui"><h2>Frictionle</h2></a></span>
                        <div class="ui section divider"></div>
                    </div>
                    <div class="ui fluid vertical inverted red menu" style="overflow-y: auto; position: fixed; left: 0px; top: 35px; width: 237px !important; height: 100%; padding-bottom: 50px;">
                        <a class="{%- if request.path == url_for('todos.index') %}active{% endif %} item red" href="{{url_for('todos.index')}}">
                            Todo
                        </a>
                        <a class="{%- if request.path == url_for('reminders.index') %}active{% endif %} item red" href="{{url_for('reminders.index')}}">
                            Reminder
                        </a>
                        <a class="{%- if request.path == url_for('webcomics.index') %}active{% endif %} item red" href="{{url_for('webcomics.index')}}">
                            Webcomics
                        </a>
                        <a class="{%- if request.path == url_for('astros.index') %}active{% endif %} item red" href="{{url_for('astros.index')}}">
                            Astronomy
                        </a>
                        <a class="{%- if request.path == url_for('music.index') %}active{% endif %} item red" href="{{url_for('music.index')}}">
                            Music
                        </a>
                        <a class="item red" href="{{url_for('user.configure')}}">
                            <i class="icon configure"></i>
                            Configure
                        </a>
                        <a class="item red" href="{{url_for('pages.logout')}}">
                            <i class="icon arrow right"></i>
                            Logout
                        </a>
                    </div>
                </div>
                <div id="main-content" class="whiteBackground">
                    <div id="msg" class="ui negative message" style="display: none;"></div>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                          <div class="ui message info" id="flashes">
                              <ul>
                                  {% for message in messages %}
                                  <li>{{ message }}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                    {% endwith %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</body>
<head>
{% block head %}{% endblock %}
<script src="/static/js/uimodules.js"></script>
<script src="/static/js/lib/markdown-it.min.js"></script>
<script src="/static/js/index.js"></script>
</head>
</html>
