<div class="row">
    <div class="column"></div>
    <div class="fourteen wide column">
        <div id="reminders" class="content">
            <table class="ui table brown">
                <thead>
                    <tr>
                        <th class="eleven wide">Message</th>
                        <th class="two wide">Time</th>
                        <th class="two wide">Date</th>
                        <th class="one wide">Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
