<div class="row">
    <div class="column"></div>
    <div class="fourteen wide column">
        <div class="content">
            <div class="ui items">
                <div id="xkcd" class="item">
                    <div class="image">
                        <img src="/static/images/xkcd.png">
                    </div>
                    <div class="content">
                        <div class="description">
                            Currently you have 0 comics.
                        </div>
                        <br/>
                        <div class="ui teal button">Sync from web</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
