<div class="row">
    <div class="column"></div>
    <div class="fourteen wide column">
        <div class="content">
            <div id="webcomics" class="ui very relaxed vertical list">
                {% for comic in comics %}
                <div id="{{comic.name}}" class="item">
                    <div class="ui labeled basic button" tabindex="0">
                        <div class="ui teal basic button">
                            <i class="refresh icon"></i>{{comic.display_name}}
                        </div>
                        <p class="ui basic teal left pointing label">{{comic.links_count}}</p>
                    </div>
                    <label class="red">Last synced on: {{comics.last_sync}}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
