<div class="row">
    <div class="column"></div>
    <div class="fourteen wide column">
        <div class="content">
            <div id="webcomics" class="ui very relaxed vertical list">
                <div id="xkcd" class="item">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui teal button">
                            <i class="refresh icon"></i>xkcd
                        </div>
                        <p class="ui basic teal left pointing label">{{comics.xkcd}}</p>
                    </div>
                </div>
                <div id="smbc" class="item">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui teal button">
                            <i class="refresh icon"></i>SMBC
                        </div>
                        <p class="ui basic teal left pointing label">{{comics.xkcd}}</p>
                    </div>
                </div>
                <div id="phd" class="item">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui teal button">
                            <i class="refresh icon"></i>PHD Comics
                        </div>
                        <p class="ui basic teal left pointing label">{{comics.xkcd}}</p>
                    </div>
                </div>
                <div id="bsharpie" class="item">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui teal button">
                            <i class="refresh icon"></i>Brown Sharpie
                        </div>
                        <p class="ui basic teal left pointing label">{{comics.xkcd}}</p>
                    </div>
                </div>
                <div id="agoose" class="item">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui teal button">
                            <i class="refresh icon"></i>Abstruse Goose
                        </div>
                        <p class="ui basic teal left pointing label">{{comics.xkcd}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
